Config.class.php
documentation/Documentation.aux
documentation/Documentation.dvi
documentation/Documentation.log
documentation/Documentation.ps
documentation/Documentation.pdf
documentation/Documentation.toc
documentation/UMLModelTDT.pdf.aux
Documentation.pdf
bin/testAPI_DB.php
bin/testAPI_CSV.php
custom/packages/*
!custom/packages/README.md
!custom/formatters/*
!custom/formatters/README.md
custom/genericstrategies/*
!custom/genericstrategies/README.md
Makefile
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store
bin/testAPI_DB.php
nbproject/*
nbproject/private/*
.settings
.buildpath
.project
The-Semantifier/*
The-Semantifier

/tmp
