#
# The DataTank .htaccess file
#
# © iRail vzw/asbl
# by Jan Vansteenlandt
# by Pieter Colpaert
# by Werner Laurensse
#
# move to the root folder 
#

Options -Indexes
Options +FollowSymLinks

AddDefaultCharset UTF-8

# mod rewrite, because that's how I roll.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php
</IfModule>

